<div class="container">
  <p *ngIf="!countryData">We can add guard here to prevent loading this view, just an idea. :D</p>
  <div *ngIf="countryData" class="scy-country-details">
    <scy-button (click)="handleGoBack()" [text]="'Go Back'"></scy-button>
    <div class="scy-country-details__image-container">
      <img
        class="scy-country-details__image-container__image"
        [src]="countryData?.flags?.png"
        alt="">
    </div>
    <div class="scy-country-details__content">
      <p class="scy-country-details__content__text"><strong>Name: </strong>{{countryData?.name?.official}}</p>
      <p class="scy-country-details__content__text"><strong>Capital: </strong>{{countryData?.capital}}</p>
      <p class="scy-country-details__content__text"><strong>Code3: </strong>{{countryData?.cca3}}</p>
      <p class="scy-country-details__content__text"><strong>Region: </strong>{{countryData?.region}}</p>
      <p class="scy-country-details__content__text"><strong>Subregion: </strong>{{countryData?.subregion}}</p>
      <p class="scy-country-details__content__text"><strong>Language: </strong>
        <span *ngFor="let language of returnObjectAsArray(countryData.languages); let last = last;">{{language}}<span
          *ngIf="!last">, </span></span>
      </p>
      <p class="scy-country-details__content__text"><strong>Currencies: </strong>
        <span *ngFor="let currency of returnObjectAsArray(countryData.currencies)">{{currency.name}}</span>
      </p>
      <p class="scy-country-details__content__text"><strong>Phone Numbers: </strong>
        {{countryData.idd.root}}
        <span *ngFor="let suffix of countryData.idd.suffixes; let last = last;">{{suffix}} <span *ngIf="!last">,</span></span>
      </p>
    </div>
  </div>
</div>
