<div class="scy-single-country" scyBoxParallax>
  <div class="js-scy-box-parallax">
    <div class="scy-single-country__image-container">
      <img class="scy-single-country__image-container__image"
           [src]="country?.flags?.png"
           alt="Country Flag">
    </div>
    <div class="scy-single-country__content">
      <p><strong>Name:</strong> {{country.name?.official}}</p>
      <p><strong>Region:</strong> {{country?.region}}</p>
      <p><strong>Subregion:</strong> {{country?.subregion}}</p>
    </div>
    <div class="scy-single-country__bottom-content">
      <scy-button
        (click)="addToFavorites($event)"
        [text]="isCountryFavorited ? 'Remove From Favorites' : 'Add To Favorites'"
        [setFullWidth]="true"
        [isDeleteButton]="isCountryFavorited"></scy-button>
    </div>
  </div>
</div>
