:host {
  display: block;
}

.scy-single-country {
  cursor: pointer;
  position: relative;
  perspective: 1000px;

  & .js-scy-box-parallax {
    background: var(--color-white);
    padding: 15px;
    transition: all 0.2s;

    &:hover {
      &:after {
        opacity: 1;
      }
    }

    &:after {
      content: "";
      box-shadow: 0 0 20px var(--primary-box-shadow);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
      opacity: 0.5;
      transition: all 0.3s;
    }
  }

  &__image-container {
    border-bottom: 1px solid var(--primary-color);
    text-align: center;
    padding-bottom: 15px;

    &__image {
      max-width: 100px;
    }
  }

  &__content {
    & p {
      font-size: 15px;
      line-height: 23px;
      margin-bottom: 5px;
      font-weight: 300;
    }
  }

  &__bottom-content{
    padding: 15px 0 0 0;
    border-top: 1px solid var(--primary-color);
  }
}
