<div class="scy-pagination">
  <div class="container">
    <div class="scy-pagination__items">
      <div class="scy-pagination__items__result-count">
        <p class="scy-pagination__items__result-count__label">Numbers of results:</p>
        <select name="numberResults" id="numberResults" (change)="outputPaginationMaxResultsToShow(numberResults.value)"
                #numberResults>
          <option *ngFor="let option of paginationPossibleResults"
                  [attr.selected]="option === environment.DEFAULT_PAGINATION_RESULTS_TO_SHOW ? true : null"
                  [value]="option">{{option}}</option>
        </select>
      </div>
      <div class="scy-pagination__items__single"
           [class.scy-pagination__items__single--active]="activePage === singlePagination.label"
           (click)="outputPaginationPageActive(singlePagination.value)"
           *ngFor="let singlePagination of maximumNumberOfPagesAsArray">{{singlePagination.label}}</div>
    </div>
  </div>
</div>
