.scy-country-details {
  background: var(--color-white);
  padding: 15px;

  &__image-container {
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 15px;
    padding: 15px;

    &__image {
      max-width: 200px;
    }
  }

  &__content {

    &__text {
      font-weight: 300;
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 5px 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
